@charset "UTF-8";
@font-face {
  font-family: "Shrikhand";
  src: url(/Assets/fonts/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Light";
  src: url(/Assets/fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(/Assets/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(/Assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(/Assets/fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: inherit; /* pour que les polices ne prennent pas les valeurs par défaut des navigateurs */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: Roboto, sans-serif;
  text-align: center;
  background-color: #f6f6f6;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.loader {
  position: relative;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background-color: rgba(246, 246, 246, 0.6862745098);
  z-index: 100;
  cursor: wait;
  -webkit-animation: loading 3s forwards;
          animation: loading 3s forwards;
}
.loader .load__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Shrikhand;
  font-size: 2.5rem;
}
.loader .load__dots {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #9356dc;
  -webkit-animation: dotAnimation 3s infinite;
          animation: dotAnimation 3s infinite;
}

@-webkit-keyframes loading {
  0%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes dotAnimation {
  0%, 100% {
    -webkit-transform: translate(-150px, -50px);
            transform: translate(-150px, -50px);
    -webkit-box-shadow: 0 0 #99e2d0, 0 0 #ff79da;
            box-shadow: 0 0 #99e2d0, 0 0 #ff79da;
  }
  12.5% {
    -webkit-transform: translate(150px, -50px);
            transform: translate(150px, -50px);
    -webkit-box-shadow: -16px 0 #99e2d0, -32px 0 #ff79da;
            box-shadow: -16px 0 #99e2d0, -32px 0 #ff79da;
  }
  25% {
    -webkit-transform: translate(150px, -50px);
            transform: translate(150px, -50px);
    -webkit-box-shadow: 0 0 #99e2d0, 0 0 #ff79da;
            box-shadow: 0 0 #99e2d0, 0 0 #ff79da;
  }
  37.5% {
    -webkit-transform: translate(150px, 50px);
            transform: translate(150px, 50px);
    -webkit-box-shadow: 0 -16px #99e2d0, 0 -32px #ff79da;
            box-shadow: 0 -16px #99e2d0, 0 -32px #ff79da;
  }
  50% {
    -webkit-transform: translate(150px, 50px);
            transform: translate(150px, 50px);
    -webkit-box-shadow: 0 0 #99e2d0, 0 0 #ff79da;
            box-shadow: 0 0 #99e2d0, 0 0 #ff79da;
  }
  62.5% {
    -webkit-transform: translate(-150px, 50px);
            transform: translate(-150px, 50px);
    -webkit-box-shadow: 16px 0 #99e2d0, 32px 0 #ff79da;
            box-shadow: 16px 0 #99e2d0, 32px 0 #ff79da;
  }
  75% {
    -webkit-transform: translate(-150px, 50px);
            transform: translate(-150px, 50px);
    -webkit-box-shadow: 0 0 #99e2d0, 0 0 #ff79da;
            box-shadow: 0 0 #99e2d0, 0 0 #ff79da;
  }
  87.5% {
    -webkit-transform: translate(-150px, -50px);
            transform: translate(-150px, -50px);
    -webkit-box-shadow: 0 16px #99e2d0, 0 32px #ff79da;
            box-shadow: 0 16px #99e2d0, 0 32px #ff79da;
  }
}
@keyframes dotAnimation {
  0%, 100% {
    -webkit-transform: translate(-150px, -50px);
            transform: translate(-150px, -50px);
    -webkit-box-shadow: 0 0 #99e2d0, 0 0 #ff79da;
            box-shadow: 0 0 #99e2d0, 0 0 #ff79da;
  }
  12.5% {
    -webkit-transform: translate(150px, -50px);
            transform: translate(150px, -50px);
    -webkit-box-shadow: -16px 0 #99e2d0, -32px 0 #ff79da;
            box-shadow: -16px 0 #99e2d0, -32px 0 #ff79da;
  }
  25% {
    -webkit-transform: translate(150px, -50px);
            transform: translate(150px, -50px);
    -webkit-box-shadow: 0 0 #99e2d0, 0 0 #ff79da;
            box-shadow: 0 0 #99e2d0, 0 0 #ff79da;
  }
  37.5% {
    -webkit-transform: translate(150px, 50px);
            transform: translate(150px, 50px);
    -webkit-box-shadow: 0 -16px #99e2d0, 0 -32px #ff79da;
            box-shadow: 0 -16px #99e2d0, 0 -32px #ff79da;
  }
  50% {
    -webkit-transform: translate(150px, 50px);
            transform: translate(150px, 50px);
    -webkit-box-shadow: 0 0 #99e2d0, 0 0 #ff79da;
            box-shadow: 0 0 #99e2d0, 0 0 #ff79da;
  }
  62.5% {
    -webkit-transform: translate(-150px, 50px);
            transform: translate(-150px, 50px);
    -webkit-box-shadow: 16px 0 #99e2d0, 32px 0 #ff79da;
            box-shadow: 16px 0 #99e2d0, 32px 0 #ff79da;
  }
  75% {
    -webkit-transform: translate(-150px, 50px);
            transform: translate(-150px, 50px);
    -webkit-box-shadow: 0 0 #99e2d0, 0 0 #ff79da;
            box-shadow: 0 0 #99e2d0, 0 0 #ff79da;
  }
  87.5% {
    -webkit-transform: translate(-150px, -50px);
            transform: translate(-150px, -50px);
    -webkit-box-shadow: 0 16px #99e2d0, 0 32px #ff79da;
            box-shadow: 0 16px #99e2d0, 0 32px #ff79da;
  }
}
header {
  background-color: white;
}
header .header__logo {
  font-family: Shrikhand;
  font-size: 1.875rem;
  width: 100%;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 14px 0 5px;
  position: relative;
  z-index: 2;
}

.header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: #353535;
}
.header__location .location__icon {
  margin-right: 17px;
}
.header__location .location__search {
  font-family: Roboto-Medium;
  border: none;
}

@media screen and (min-width: 700px) {
  header .header__logo {
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 96px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  header .header__location {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.hero {
  margin: 39px auto 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
}
.hero__title {
  font-family: Roboto-Bold;
  font-size: 1.5rem;
  height: 68px;
  width: 75%;
  margin: 0 auto;
}
.hero__desc {
  font-family: Roboto-Light;
  font-size: 1.125rem;
  margin-bottom: 27px;
  padding: 0 20px;
}

@media screen and (min-width: 600px) {
  .hero {
    margin: 30px auto;
  }
}
@media screen and (min-width: 710px) {
  .hero__title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 900px) {
  .hero__title {
    font-size: 2.5rem;
  }
}
.operation {
  background-color: white;
  height: 440px;
  padding: 48px 20px 68px;
  text-align: left;
}
.operation__title {
  font-family: Roboto-Bold;
  font-size: 1.5rem;
  margin-bottom: 26px;
}
.operation__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 335px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.operation__step .operation__number {
  background-color: #9356dc;
  font-family: Roboto-Medium;
  font-size: 0.9rem;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}
.operation__step .operation__desc {
  background-color: #f6f6f6;
  border-radius: 20px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -12px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}
.operation__step .operation__desc .operation__icon {
  color: #7e7e7e;
  font-size: 1.2rem;
  position: absolute;
  left: 32px;
}
.operation__step .operation__desc .operation__icon--primary {
  color: #9356dc;
}
.operation__step .operation__desc .operation__text {
  font-family: Roboto-Medium;
  position: absolute;
  left: 74px;
}

@media screen and (min-width: 700px) {
  .operation {
    padding: 50px 40px;
    height: auto;
  }
  .operation .operation__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .operation .operation__steps .operation__step {
    width: 335px;
    margin: 0;
  }
}
@media screen and (min-width: 1100px) {
  .operation {
    padding: 50px 90px;
  }
  .operation__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .operation__steps .operation__step {
    width: 335px;
    margin: 0;
  }
}
@media screen and (min-width: 1350px) {
  .operation {
    padding: 50px 180px;
  }
}
.restaurants__title {
  font-family: Roboto-Bold;
  font-size: 1.5rem;
  text-align: left;
  padding: 54px 20px 24px;
}

.restaurant__card {
  height: 251px;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 18px;
  position: relative;
}
.restaurant__card .restaurant__card-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  position: relative;
  overflow: hidden;
}
.restaurant__card .restaurant__card-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  border-radius: 15px 15px 0 0;
}
.restaurant__card .restaurant__card-image #center-img {
  -o-object-position: center;
     object-position: center;
}
.restaurant__card .restaurant__card-image .restaurant__card-new {
  position: absolute;
  z-index: 2;
  right: 15px;
  bottom: 132px;
  background-color: #99e2d0;
  width: 80px;
  height: 29px;
  font-family: Roboto-Medium;
  color: #008766;
  font-size: 0.875rem;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  padding: 16px 25px 12px 13px;
}

.restaurant__desc-title {
  font-family: Roboto-Bold;
  font-size: 1.125rem;
  margin-bottom: 4px;
}
.restaurant__desc-location {
  font-family: Roboto-Light;
  font-size: 1.063rem;
}

@media screen and (min-width: 700px) {
  .restaurants {
    padding: 0 40px;
  }
  .restaurants__title {
    margin: 30px 0;
    padding: 0;
  }
  .restaurants__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .restaurant__card {
    margin: 0;
    width: 100%;
  }
  .restaurant__card-image img {
    -o-object-position: top;
       object-position: top;
  }
}
@media screen and (min-width: 1100px) {
  .restaurants {
    padding: 0 90px;
  }
  .restaurants .restaurants__cards {
    gap: 50px 75px;
  }
}
@media screen and (min-width: 1350px) {
  .restaurants {
    padding: 0 180px;
  }
  .restaurants .restaurants__cards {
    gap: 50px 100px;
  }
}
.footer {
  margin-top: 66px;
  background-color: #353535;
  text-align: left;
  padding: 22px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.footer__title {
  font-family: Shrikhand;
  font-size: 1.125rem;
  color: white;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}
.footer__links .footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__links .footer__link i {
  color: white;
  font-size: 0.8rem;
  position: absolute;
}
.footer__links .footer__link .link__title {
  color: white;
  font-family: Roboto-Medium;
  padding-left: 22px;
}
.footer__links .footer__link .link__title--regular {
  font-family: Roboto;
  padding-left: 0;
}

@media screen and (min-width: 900px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-top: 30px;
    padding: 60px 26px 30px;
    gap: 16px;
  }
  .footer__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 7px;
  }
  .footer__title {
    width: 139px;
  }
  .footer__link {
    width: 190px;
  }
  .footer__link:nth-last-child(-n+2) {
    width: 130px;
  }
}
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 25px;
  height: 50px;
  width: 218px;
  color: #ffffff;
  font-family: Roboto-Medium;
  font-size: 1rem;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 25px;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(#ff93e1, #a16be0);
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.restaurant__like {
  position: absolute;
  display: inline-block;
  font-size: 1.4rem;
  bottom: 30px;
  right: 25px;
}
.restaurant__like .heart-checkbox {
  display: none;
}
.restaurant__like .heart-empty {
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
}
.restaurant__like .heart-full {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
}
.restaurant__like .heart-checkbox:checked + .heart-empty {
  opacity: 0;
}
.restaurant__like .heart-checkbox:checked + .heart-empty + .heart-full {
  opacity: 1;
}
.restaurant__like:hover .heart-empty {
  opacity: 0;
}
.restaurant__like:hover .heart-full {
  opacity: 1;
}/*# sourceMappingURL=index.css.map */