@font-face {
  font-family: "Shrikhand";
  src: url(/Assets/fonts/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Light";
  src: url(/Assets/fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(/Assets/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(/Assets/fonts/Roboto-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  text-align: center;
  background-color: #f6f6f6;
}

.header__logo {
  font-family: Shrikhand;
  font-size: 1.875rem;
  width: 100%;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 14px 0 5px;
}

.header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: #353535;
}
.header__location .location__icon {
  margin-right: 17px;
}
.header__location .location__search {
  font-family: Roboto-Medium;
  border: none;
}

img {
  width: 100%;
}

.hero {
  margin: 39px auto 57px;
  background-color: #f6f6f6;
}
.hero__title {
  font-family: Roboto-Bold;
  font-size: 1.5rem;
  height: 68px;
  width: 75%;
  margin: 0 auto;
}
.hero__desc {
  font-family: Roboto-Light;
  font-size: 1.125rem;
  margin-bottom: 27px;
}

.operation {
  background-color: white;
  height: 440px;
  padding: 48px 20px 68px;
  text-align: left;
}
.operation__title {
  font-family: Roboto-Bold;
  font-weight: 1.5rem;
  margin-bottom: 26px;
}
.operation__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 335px;
  margin-bottom: 25px;
}
.operation__step .operation__number {
  background-color: #9356dc;
  font-family: Roboto-Medium;
  font-size: 0.9rem;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}
.operation__step .operation__desc {
  background-color: #f6f6f6;
  border-radius: 20px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -12px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.operation__step .operation__desc .operation__icon {
  color: #7e7e7e;
  margin-right: 24px;
  font-size: 1.2rem;
}
.operation__step .operation__desc .operation__icon--primary {
  color: #9356dc;
}
.operation__step .operation__desc .operation__text {
  font-family: Roboto-Medium;
  width: 211px;
}

.btn {
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 25px;
  height: 50px;
  width: 218px;
  color: #ffffff;
  font-family: Roboto-Medium;
  font-size: 1rem;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}/*# sourceMappingURL=index.css.map */