// **** HEADER ****
header {
  background-color: white;

  .header__logo {
    font-family: $font-title;
    font-size: 1.875rem;
    width: 100%;
    padding: 14px 0 5px;
    position: relative;
  }
}

.header__return {
  @include centerChild;
  position: absolute;
  top: 17px;
  left: 17px;
  width: 30px;
  height: 30px;
  font-size: 1.3rem;
  color: #353535;
}

@media screen and (min-width: 700px) {
  .header__logo {
    box-shadow: none;
    height: 96px;
    @include centerChild;
    padding: 0;
  }

  .header__return {
    top: 33px;
  }
}

// **** IMAGE RESTAURANT ****
.hero__image img {
  width: 100%;
  height: 252px;
  object-fit: cover;
}

@media screen and (min-width: 700px) {
  .hero__image img {
    height: auto;
    max-height: 385px;
  }
}

// **** MENU TITRE + LIKE ****
.menu {
  @include flexColumn;
  gap: 40px;
  max-width: 1055px;
  margin: 0 auto;
  background-color: $bg-color;

  &__head {
    @include alignChildren(space-between);
    gap: 40px;
    padding: 0 17px;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 32px;
      background-color: $bg-color;
      position: absolute;
      left: 0;
      top: -32px;
      border-radius: 40px 40px 0 0;
    }
  }

  &__restaurant {
    font-family: $font-title;
    font-size: 1.75rem;
  }

  .restaurant__like {
    top: 8px;
    right: 41px;
  }
}

@media screen and (min-width: 700px) {
  .menu {
    &__head {
      @include centerChild;
    }
  }
}

// **** FORMULAIRE ****
form {
  @include flexColumn;
  text-align: left;
  padding: 0 13px;
  gap: 40px;
}

@media screen and (min-width: 700px) {
  form {
    width: 60%;
    margin: 0 auto;
    padding: 0;
  }
}

// **** Entrées / Plats / Dessert ****
.menu__content {
  @include flexColumn;
  gap: 12px;

  .menu__title {
    font-family: $font-light;
    text-transform: uppercase;
    font-size: 1rem;
    height: 27px;
    position: relative;

    &::after {
      content: "";
      width: 40px;
      height: 3px;
      position: absolute;
      background-color: $tertiary-color;
      left: 0;
      bottom: 0;
    }
  }
}

// **** Items ****
.menu__cards {
  @include flexColumn;
  gap: 12px;

  label {
    height: 69px;
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    @include alignChildren(space-between);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    opacity: 0;

    &:hover,
    .item-checkbox:checked + .menu__container {
      .color-box {
        transform: translateX(-59px);
      }
      .menu__price {
        transform: translateX(-59px);
      }
      .menu__card {
        width: calc(100% - 100px);
      }
    }
  }

  .item-checkbox {
    display: none;
  }
}

.menu__container {
  @include alignChildren(space-between);
  width: 100%;
}

.color-box {
  @include centerChild;
  height: 69px;
  width: 59px;
  background: $tertiary-color;
  position: absolute;
  top: 0;
  right: -59px;
  border-radius: 0 15px 15px 0;

  overflow: hidden;
  transition: transform 300ms ease-in-out;

  .check-icon {
    color: white;
    font-size: 1.25rem;
  }
}

.menu__card {
  width: 100%;

  transition: width 300ms ease-in-out;

  .card__title {
    font-family: $font-medium;
    font-size: 1.125rem;
    margin-bottom: 5px;
    max-width: 100%;
    white-space: nowrap; /* Pas de passage à la ligne */
    overflow: hidden; /* Masque le débordement */
    text-overflow: ellipsis; /* Affiche les ... */
  }

  .card__desc {
    font-family: $font-light;
    font-size: 0.94rem;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.menu__price {
  font-family: $font-bold;
  font-size: 0.94rem;
  align-self: flex-end;

  transition: transform 300ms ease-in-out;
}

.btn {
  max-width: 186px;
  align-self: center;
  margin-bottom: 40px;
}

body.restaurant {
  background-color: white;

  .footer {
    margin-top: 0;
  }
}

// **** ANIMATION ****
.dish {
  animation: fade 800ms forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.entrees .dish:nth-child(1) {
  animation-delay: 0.5s;
}
.entrees .dish:nth-child(2) {
  animation-delay: 0.7s;
}
.entrees .dish:nth-child(3) {
  animation-delay: 0.9s;
}
.entrees .dish:nth-child(4) {
  animation-delay: 1.1s;
}
.plats .dish:nth-child(1) {
  animation-delay: 1.1s;
}
.plats .dish:nth-child(2) {
  animation-delay: 1.3s;
}
.plats .dish:nth-child(3) {
  animation-delay: 1.5s;
}
.desserts .dish:nth-child(1) {
  animation-delay: 1.7s;
}
.desserts .dish:nth-child(2) {
  animation-delay: 1.9s;
}
.desserts .dish:nth-child(3) {
  animation-delay: 2.1s;
}
