@charset "UTF-8";
@font-face {
  font-family: "Shrikhand";
  src: url(/Assets/fonts/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Light";
  src: url(/Assets/fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(/Assets/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(/Assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(/Assets/fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: Roboto, sans-serif;
  text-align: center;
  background-color: #f6f6f6;
}

.header__logo {
  font-family: Shrikhand;
  font-size: 1.875rem;
  width: 100%;
  padding: 14px 0 5px;
  position: relative;
}

.header__return {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 17px;
  left: 17px;
  width: 30px;
  height: 30px;
  font-size: 1.3rem;
  color: #353535;
}

.hero__image img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  padding: 0 17px;
  position: relative;
}
.menu__container::before {
  content: "";
  width: 100%;
  height: 32px;
  background-color: #f6f6f6;
  position: absolute;
  left: 0;
  top: -32px;
  border-radius: 40px 40px 0 0;
}
.menu__restaurant {
  font-family: Shrikhand;
  font-size: 1.75rem;
}
.menu .restaurant__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.375rem;
  padding-top: 4px;
  position: absolute;
  right: 41px;
}

.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 0 13px;
  gap: 12px;
}
.menu__content .menu__title {
  font-family: Roboto-Light;
  text-transform: uppercase;
  font-size: 1rem;
  height: 27px;
  position: relative;
}
.menu__content .menu__title::after {
  content: "";
  width: 40px;
  height: 3px;
  position: absolute;
  background-color: #99e2d0;
  left: 0;
  bottom: 0;
}

.menu__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.menu__cards a {
  height: 69px;
  width: 100%;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  position: relative;
}
.menu__cards a:hover .color-box {
  -webkit-transform: translateX(-59px);
      -ms-transform: translateX(-59px);
          transform: translateX(-59px);
}
.menu__cards a:hover .menu__price {
  margin-right: 59px;
}
.menu__cards a:hover .menu__card {
  width: calc(100% - 100px);
}

.color-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 69px;
  width: 59px;
  background: #99e2d0;
  position: absolute;
  top: 0;
  right: -59px;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.color-box .check-icon {
  color: white;
  font-size: 1.25rem;
}

.menu__card {
  width: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.menu__card .card__title {
  font-family: Roboto-Medium;
  font-size: 1.125rem;
  margin-bottom: 5px;
  max-width: 100%;
  white-space: nowrap; /* Pas de passage à la ligne */
  overflow: hidden; /* Masque le débordement */
  text-overflow: ellipsis; /* Affiche les ... */
}
.menu__card .card__desc {
  font-family: Roboto-Light;
  font-size: 0.94rem;
  max-width: 100%;
  white-space: nowrap; /* Pas de passage à la ligne */
  overflow: hidden; /* Masque le débordement */
  text-overflow: ellipsis;
}

.menu__price {
  font-family: Roboto-Bold;
  font-size: 0.94rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.btn {
  max-width: 186px;
  -ms-flex-item-align: center;
      align-self: center;
}

body.la-palette-du-gout .footer {
  margin-top: 40px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 25px;
  height: 50px;
  width: 218px;
  color: #ffffff;
  font-family: Roboto-Medium;
  font-size: 1rem;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 25px;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(#ff93e1, #a16be0);
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.footer {
  margin-top: 66px;
  background-color: #353535;
  text-align: left;
  padding: 22px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.footer__title {
  font-family: Shrikhand;
  font-size: 1.125rem;
  color: white;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}
.footer__links .footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__links .footer__link i {
  color: white;
  font-size: 0.8rem;
  position: absolute;
}
.footer__links .footer__link .link__title {
  color: white;
  font-family: Roboto-Medium;
  padding-left: 22px;
}
.footer__links .footer__link .link__title--regular {
  font-family: Roboto;
  padding-left: 0;
}

@media screen and (min-width: 376px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-top: 30px;
    padding: 60px 26px 30px;
    gap: 16px;
  }
  .footer__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 7px;
  }
  .footer__title {
    width: 139px;
  }
  .footer__link {
    width: 190px;
  }
  .footer__link:nth-last-child(-n+2) {
    width: 130px;
  }
}
.restaurant__like {
  position: relative;
  display: inline-block;
}
.restaurant__like .heart-checkbox {
  display: none;
}
.restaurant__like .heart-empty {
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
}
.restaurant__like .heart-full {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 4px;
  left: 0;
  opacity: 0;
  -webkit-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
}
.restaurant__like .heart-checkbox:checked + .heart-empty {
  opacity: 0;
}
.restaurant__like .heart-checkbox:checked + .heart-empty + .heart-full {
  opacity: 1;
}
.restaurant__like:hover .heart-empty {
  opacity: 0;
}
.restaurant__like:hover .heart-full {
  opacity: 1;
}/*# sourceMappingURL=menu.css.map */