.operation {
  background-color: white;
  height: 440px;
  padding: 48px 20px 68px;
  text-align: left;

  &__title {
    font-family: $font-bold;
    font-size: 1.5rem;
    margin-bottom: 26px;
  }

  &__steps {
    counter-reset: stepCounter;
  }

  &__step {
    @include centerChild;
    max-width: 335px;
    margin: 0 auto;
    margin-bottom: 25px;
    counter-increment: stepCounter;

    .operation__number {
      background-color: $primary-color;
      font-family: $font-medium;
      font-size: 0.9rem;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      color: white;
      @include centerChild;
      z-index: 2;

      &::before {
        content: counter(stepCounter);
      }
    }

    .operation__desc {
      background-color: $bg-color;
      border-radius: 20px;
      height: 72px;
      @include centerChild;
      margin-left: -12px;
      flex: 1;
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
      position: relative;

      .operation__icon {
        color: #7e7e7e;
        font-size: 1.2rem;
        position: absolute;
        left: 32px;

        &--primary {
          color: $primary-color;
        }
      }

      .operation__text {
        font-family: $font-medium;
        position: absolute;
        left: 74px;
      }
    }
  }
}

// **** MEDIA QUERIES ****

@media screen and (min-width: 700px) {
  .operation {
    padding: 50px 40px;
    height: auto;

    .operation__steps {
      @include alignChildren(space-between);
      flex-grow: 1;

      .operation__step {
        width: 335px;
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .operation {
    padding: 50px 90px;
  }
  .operation__steps {
    @include alignChildren(space-between);
    flex-grow: 1;
    .operation__step {
      width: 335px;
      margin: 0;
    }
  }
}

@media screen and (min-width: 1350px) {
  .operation {
    padding: 50px 180px;
  }
}
