.restaurants__title {
  font-family: $font-bold;
  font-size: 1.5rem;
  text-align: left;
  padding: 54px 20px 24px;
}

.restaurant__card {
  height: 251px;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 18px;
  position: relative;

  .restaurant__card-image {
    display: flex;
    height: 70%;
    position: relative;
    overflow: hidden;

    & img {
      width: 100%;
      object-fit: cover;
      object-position: bottom;
      border-radius: 15px 15px 0 0;
    }

    #center-img {
      object-position: center;
    }

    .restaurant__card-new {
      position: absolute;
      z-index: 2;
      right: 15px;
      bottom: 132px;
      background-color: $tertiary-color;
      width: 80px;
      height: 29px;
      font-family: $font-medium;
      color: #008766;
      font-size: 0.875rem;
      border-radius: 2px;
      @include centerChild;
    }
  }
}

.restaurant__container {
  @include alignChildren(space-between);
  text-align: left;
  padding: 16px 25px 12px 13px;
}

.restaurant__desc {
  &-title {
    font-family: $font-bold;
    font-size: 1.125rem;
    margin-bottom: 4px;
  }

  &-location {
    font-family: $font-light;
    font-size: 1.063rem;
  }
}

// **** MEDIA QUERIES ****

@media screen and (min-width: 700px) {
  .restaurants {
    padding: 0 40px;

    &__title {
      margin: 30px 0;
      padding: 0;
    }
  }

  .restaurants__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .restaurant__card {
    margin: 0;
    width: 100%;
  }

  .restaurant__card-image img {
    object-position: top;
  }
}

@media screen and (min-width: 1100px) {
  .restaurants {
    padding: 0 90px;

    .restaurants__cards {
      gap: 50px 75px;
    }
  }
}

@media screen and (min-width: 1350px) {
  .restaurants {
    padding: 0 180px;

    .restaurants__cards {
      gap: 50px 100px;
    }
  }
}
